<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: green
        }
    </style>
</head>
<body>

<div>
    <h1 id="h1-text">H1 text</h1>
    <h2 class="h2-text">H2 text</h2>
    <h3>H3 text</h3>
    <h4>H4 text</h4>
    <h5 class="h2-text">H5 text</h5>
    <h6>H6 text</h6>
    <p>Пожалуйста, <span style="color: red">не оставляйте</span> решения и подсказки в комментариях, для этого есть
        отдельный форум.</p>
    <a href="https://www.python.org/" target="_blank">Python</a>
    <img alt="python.png" src="https://www.python.org/static/img/python-logo.png" style="width: 200px">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" value="Alex" placeholder="Your name">
        <input required type="email" placeholder="Your email">
        <input required type="password" placeholder="Your password">
        <textarea required placeholder="Your text">12345</textarea>
        <button type="submit" disabled>Push me!</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Head 1</td>
            <td>Head 2</td>
            <td>Head 3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>